#TOPBANNER {
  display: block;
  height: 2rem;
  width: 100%;
  padding: 0 20px;
  line-height: 0.1rem;
  top: 0;
}
#TOPBANNER p {
  margin: auto;
  height: 100%;
  padding: 0.5rem 0;
}

#TOPBANNER a {
  margin: auto 5px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
