:root {
  --text_color: var(--theme-color);
  --docsify_dark_mode_bg: white;
  --docsify_dark_mode_btn: var(--theme-color);
}
html,
body,
main,
.sidebar-toggle,
.sidebar,
aside {
  background: var(--docsify_dark_mode_bg);
}

#dark_mode > input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}
#dark_mode > label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--docsify_dark_mode_btn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

#dark_mode > label:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

#dark_mode > input:checked + label {
  background: var(--docsify_dark_mode_btn);
}

#dark_mode > input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

#dark_mode {
  position: absolute;
  right: 0;
  top: 0;
}
p {
  color: var(--text_color);
}
