:root {
  --text_color: var(--theme-color);
  --docsify_dark_mode_bg: white;
  --docsify_dark_mode_btn: var(--theme-color);
}
html,
body,
main,
.sidebar-toggle,
.sidebar,
aside {
  background: var(--docsify_dark_mode_bg);
}
.sidebar ul li a {
  color: var(--text_color)
}
.markdown-section code, .markdown-section pre {
    background-color: var(--code_color);
}
.markdown-section td {
    background-color: var(--docsify_dark_mode_bg);
}
.anchor span{
    color: var(--text_color)
}
#dark_mode > input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}
#dark_mode > label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--docsify_dark_mode_btn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

#dark_mode > label:after {
  content: '';
  background: #fff;
  width: 20px;
